<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <!--  NOTE : 파일이 생성되는 위치 의논 필요  -->
    <property name="ACTIVE_PROFILE" value="${spring.profiles.active}" />

    <property name="LOG_PATH" value="${user.home}/logs" />

    <!-- log file name -->
    <property name="LOG_FILE_NAME" value="askResume" />
    <!-- pattern -->
    <property name="LOG_DISPLAY_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [ %level ] %logger{36} - %msg%n" />

    <property name="MODULE_PATH" value="app.askresume"/>
    <property name="HIKARI_PATH" value="com.zaxxer.hikari"/>

    <property name="LOG_LEVEL_ROOT" value="INFO"/>
    <property name="LOG_LEVEL_API_PATH" value="DEBUG"/>
    <property name="LOG_LEVEL_HIKARI_PACKAGE" value="INFO"/>

    <appender name="CONSOLE_DISPLAY_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_DISPLAY_PATTERN}</pattern>
        </encoder>
    </appender>

    <springProfile name="${ACTIVE_PROFILE}">
        <appender name="FILE_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <!-- 파일경로 설정 -->
            <file>${LOG_PATH}/${LOG_FILE_NAME}-${ACTIVE_PROFILE}.log</file>

            <!-- 출력패턴 설정 -->
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <pattern>${LOG_DISPLAY_PATTERN}</pattern>
            </encoder>

            <!-- Rolling 정책 -->
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- .gz,.zip 등을 넣으면 자동 일자별 로그파일 압축 -->
                <fileNamePattern>${LOG_PATH}/${LOG_FILE_NAME}-${ACTIVE_PROFILE}.%d{yyyy-MM-dd}_%i.log</fileNamePattern>
                <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <!-- 파일당 최고 용량 kb, mb, gb -->
                    <maxFileSize>10MB</maxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>

                <!-- 일자별 로그파일 최대 보관주기(~일), 해당 설정일 이상된 파일은 자동으로 제거 -->
                <maxHistory>30</maxHistory>
                <!--<MinIndex>1</MinIndex>
                <MaxIndex>10</MaxIndex> -->
            </rollingPolicy>
        </appender>

        <logger name="${MODULE_PATH}"
                level="${LOG_LEVEL_API_PATH}"
                additivity="false">
            <appender-ref ref="FILE_APPENDER"/>
            <appender-ref ref="CONSOLE_DISPLAY_APPENDER" />
        </logger>

        <logger name="${HIKARI_PATH}"
                level="${LOG_LEVEL_HIKARI_PACKAGE}"
                additivity="false">
            <appender-ref ref="FILE_APPENDER"/>
            <appender-ref ref="CONSOLE_DISPLAY_APPENDER" />
        </logger>

        <root level="${LOG_LEVEL_ROOT}">
            <appender-ref ref="FILE_APPENDER" />
            <appender-ref ref="CONSOLE_DISPLAY_APPENDER" />
        </root>

    </springProfile>
</configuration>