<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>구글 로그인 페이지</title>
</head>
<style>
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
    .content {
        font-family: system-ui, serif;
        font-size: 2rem;
        padding: 1rem;
        border-radius: 1rem;
        background: #ffffff;
    }
    a {
        text-decoration-line: none
    }
</style>
<body>
<div class="wrapper">
    <!-- todo client_id 각자 등록한걸로 수정  -->
    <a href="https://accounts.google.com/o/oauth2/auth?client_id=268231443996-obaq0iht50727d9nj7r0gp3s0fe87dej.apps.googleusercontent.com&redirect_uri=http://localhost:8080/oauth/google-callback&response_type=code&scope=https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/userinfo.profile">
        <div class="content">
            구글 로그인
        </div>
    </a>
</div>
</body>
</html>