<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>카카오 로그인 페이지</title>
</head>
<style>
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
    .content {
        font-family: system-ui, serif;
        font-size: 2rem;
        padding: 1rem;
        border-radius: 1rem;
        background: #ffbe0a;
    }
    a {
        text-decoration-line: none
    }
</style>
<body>
<div class="wrapper">
    <!-- todo client_id 각자 등록한걸로 수정  -->
    <a href="https://kauth.kakao.com/oauth/authorize?client_id=3d2698689512c9e65e0b44f32571b90a&redirect_uri=http://localhost:8080/oauth/kakao/callback&response_type=code">
        <div class="content">
            카카오 로그인
        </div>
    </a>
</div>
</body>
</html>